/* Welcome to the webpage of the Ascii Art! */

body {
    /* Set a background color for the page */
    background-color: #001a33;
    /* Add some padding to the content of the page */
    padding: 20px;
    /* Set the position to relative so that child elements can be positioned absolutely within it */
    position: relative;
  }
  
  /* Add an iframe */
  iframe {
    /* Position the iframe absolutely within the body element */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* Make the iframe slightly transparent to add to the futuristic feel */
    opacity: 0.7;
  }
  
  /* Define a container element to hold the main content of the page */
  .container {
    /* Set the width to 80% of the viewport width */
    width: 80vw;
    /* Center the container horizontally on the page */
    margin: 0 auto;
    /* Set the background color to white */
    background-color: #fff;
    /* Set the position to relative so that child elements can be positioned absolutely within it */
    position: relative;
  }
  
  /* Define styles for form groups */
  .form-group {
    margin-bottom: 20px;
  }
  
  /* Define styles for input fields */
  .input-field {
    /* Add a box shadow and a background color */
    box-shadow: inset #abacaf 0 0 0 2px;
    border: 0;
    background: #f2f2f2;
    /* Remove default styling for form elements */
    appearance: none;
    /* Set the position to relative so that child elements can be positioned absolutely within it */
    position: relative;
    /* Add some padding and line height */
    padding: 12px;
    line-height: 1.4;
    /* Set the font color, size, and weight */
    color: #333;
    font-size: 16px;
    font-weight: 400;
    /* Set the height of the input field */
    height: 49px;
    /* Add a transition effect for when the input field is focused */
    transition: all .2s ease;
    /* Set the width to 100% */
    width: 100%;
  }
  
  /* Define styles for the input field when it is focused */
  .input-field:focus {
    /* Remove the default outline and add a box shadow */
    outline: 0;
    box-shadow: 0 0 0 0 #fff inset, #1de9b6 0 0 0 3px;
  }
  
  /* Define styles for the input field when it is hovered over */
  .input-field:hover {
    /* Add a different box shadow */
    box-shadow: 0 0 0 0 #fff inset, #ff8f00 0 0 0 2px;
  }
  
  /* Define styles for the main button on the page */
  .button-style {
    /* Set the position to absolute so that it can be positioned relative to its parent container */
    position: absolute;
    display: block;
    width: 100%;
  }
    /* Make the button a block element so that it takes up the full width of its container 